.wapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.wapper .search {
  padding: 8px 30px 8px 10px;
  border: 1px solid #eee;
  border-radius: 8px;
}

.wapper .user {
  font-weight: "bold";
  font-size: 18px;
}

.Menu {
  font-weight: "bold";
  font-size: 30px;
  display: none;
  cursor: pointer;
}

@media (max-width: 991px) {
  .Menu {
    display: block;
  }
}

.Menu_Mobile {
  position: fixed;
  top: 0;
  left: -100px;
  width: 0%;
  height: 100%;
  transition: 0.3s;
}

.Menu_Mobile.Open_Menu {
  width: 100%;
  left: 0;
}
@media (min-width: 991px) {
  .Menu_Mobile {
    display: none;
  }
}

.Menu_Mobile .overLay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.Menu_Mobile .ListMenu {
  background-color: #fff;
  width: 70%;
  height: 100%;
}

.Menu_Mobile .ListMenu h3 {
  padding: 20px 0;
  font-size: 20px;
  text-align: center;
}

.Menu_Mobile .ListMenu ul {
  list-style: none;
  padding-left: 10px;
}

.Menu_Mobile .ListMenu a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

.Menu_Mobile .ListMenu ul a li {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 7px;
  margin-bottom: 20px;
  cursor: pointer;
}
.active {
  background-color: #eeeeeeee;
}
.Menu_Mobile .ListMenu ul a li:hover {
  background-color: #eeeeeeee;
}

.Menu_Mobile .ListMenu ul a li .icons {
  font-weight: bold;
  font-size: 20px;
  color: #777;
}


.isActive {
  background-color: #eeeeee;
}